html {
    background-color: rgb(255, 255, 255);
}

h1 {
    /* text-align: center; */
    color: orange;
    text-decoration: none;
    font-size: 4vw;
    font-family: "Schibsted Grotesk", sans-serif;
    margin: 0;
    padding: 0;
}

.gothic-a1-extrabold {
    font-family: "Source Code Pro", monospace;
    font-weight: 800;
    font-style: normal;
}

.source-code-pro-variable {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

}

.schibsted-grotesk-variable {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

/* mark {
    background-color: rgb(255, 200, 0);
    color: white;
} */

body {
    margin: 0;
    padding: 0;
}

.about {
    font-size: 20px;
    font-family: "Schibsted Grotesk", sans-serif;
    /* position: fixed; */
    color: rgb(137, 125, 104);
    font-weight: 600;
    z-index: -1;
    line-height: 20px;
    text-align: justify;
    text-align-last: justify;
    margin-left: 1vw;
    margin-right: 1vw;

}

.line {
    border-bottom: 2px solid orange;
    padding-bottom: 3vh;
}

.container1 {
    width: 90vw;
    height: 100vh;
    /* border: 2px solid orange; */
    /* margin: 50px auto;  */
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 50vw;
    /* margin-left: 8vw; */
    padding: 0;
    border-radius: 30px;
    /* text-align: center; */
    /* float: left; */
}

textarea {
    width: 40vw;
    height: 52vh;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-right-style: none;
    background-color: rgb(255, 255, 255);
    font-family: "Source Code Pro", monospace;
    overflow-y: scroll;
}

.container2 {
    /* margin-right: 8vw; */
    padding: 0;
    border-radius: 30px;
    /* text-align: center; */
    /* float: right; */

}

#results {
    width: 57vw;
    height: 52vh;
    margin-bottom: 20px;
    padding: 10px;
    /* font-size: 16px; */
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-family: "Source Code Pro", monospace;
    overflow-y: scroll;
    float: left;
}

.wrapper {
    display: flex;
    /* align-items: center; */
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

/* .circle {
    width: 200px; 
    height: 80px; 
    border-radius: 50%; 
    border: 4px solid orange; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
} */


h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: "Source Code Pro", monospace;
    margin-left: 1vw;
    color: rgb(92, 85, 73);
}

#analyze {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1vw;

}

#analyze:hover {
    background-color: orange;
}


/* .about-button {
    font-family: "Source Code Pro", monospace;
    position: absolute;
    top: 6vh;
    right: 4vw;
    padding: 10px 20px;
    color: orange;
    border: none;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
} */

.about-button:hover {
    color: darkorange;
}

.about-message {
    width: 30vw;
    border: 1px solid orange;
    padding: 5px;
    justify-content: center;
    align-content: center;
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
}

a {
    text-decoration: none;
}

#clear {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1vw;

}

#clear:hover {
    background-color: darkorange;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes tremble {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-5px, -5px);
    }

    40% {
        transform: translate(5px, 5px);
    }

    60% {
        transform: translate(-5px, 0);
    }

    80% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fall {
    from {
        top: 0px;
    }

    50% {
        top: 100px !important;
    }

    /* ignored */
    to {
        top: 200px;
    }
}